# Copyright 2017 The Chromium OS Authors. All rights reserved.
# Distributed under the terms of the GNU General Public License v2
#
# Special keyboard mapping for Eve project. The keyboard has extra
# "Assistant" and "Hamburger" keys.
#
evdev:input:b0011v0001p0001*
# KEYBOARD_KEY_5d=controlpanel
 KEYBOARD_KEY_db={{ eve_keyboard_search_keycode }}
 KEYBOARD_KEY_d8={{ eve_keyboard_assistant_keycode }}
 KEYBOARD_KEY_db=f12
 KEYBOARD_KEY_d8=leftmeta
 KEYBOARD_KEY_59=back
 KEYBOARD_KEY_60=refresh
 KEYBOARD_KEY_61=screenlock
 KEYBOARD_KEY_62=cyclewindows
 KEYBOARD_KEY_63=brightnessdown
 KEYBOARD_KEY_64=brightnessup
 KEYBOARD_KEY_65=playpause
 KEYBOARD_KEY_66=mute
 KEYBOARD_KEY_67=volumedown
 KEYBOARD_KEY_68=volumeup

